<H2> All orders</H2>

<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col">State</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Detail</th>
        <th scope="col">Delete</th>
        <th scope="col">Confirm</th>
        <th scope="col">Cancel</th>
        <th scope="col">Finish</th>
    </tr>
    </thead>
    <tbody ng-repeat="order in orders track by $index">
    <tr>
        <td>{{order.state}}</td>
        <td>{{order.dateOfOrder}}</td>
        <td>{{order.totalPrice}}</td>
        <td>
            <a class="btn btn-primary"  href="#!/order/{{order.id}}">Detail</a>
        </td>
        <td>
            <button ng-click="deleteOrder(order)" type="submit" class="btn btn-danger">Delete</button>
        </td>
        <td>
            <button ng-click="confirm(order)" type="submit" class="btn btn-warning">Confirm</button>
        </td>
        <td>
            <button ng-click="cancel(order)" type="submit" class="btn btn-dark">Cancel</button>
        </td>
        <td>
            <button ng-click="finish(order)" type="submit" class="btn btn-info">Finish</button>
        </td>
    </tr>
    </tbody>
</table>