<H2>All users</H2>
<table class="table">
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Login</th>
		<th scope="col">Is Admin</th>
		<th scope="col">Detail</th>
		<th scope="col">Delete</th>
	</tr>
	</thead>
	<tbody ng-repeat="user in users track by $index">
	<tr>
		<td>{{user.name}}</td>
		<td>{{user.login}}</td>
		<td>{{user.isAdmin}}</td>
		<td>
			<a class="btn btn-primary"  href="#!/user/{{user.id}}">Detail</a>
		</td>
		<td>
			<button ng-click="deleteUser(user)" type="submit" class="btn btn-danger">Delete</button>
		</td>
	</tr>
	</tbody>
</table>

<br>

<td>
	<a class="btn btn-success" href="#!/createUser">Create a new user</a>
</td>
