<H2> Selected services</H2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Detail</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody ng-repeat="service in services track by $index">
    <tr>
        <td>{{service.name}}</td>
        <td>{{service.description}}</td>
        <td>{{service.price}}</td>
        <td>
            <a class="btn btn-primary"  href="#!/service/{{service.id}}">Detail</a>
        </td>
        <td>
            <a class="btn btn-primary"  href="#!/service/edit/{{service.id}}">Edit</a>
        </td>
        <td>
            <a class="btn btn-primary" target="_blank" href="#!/service/{{service.id}}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<H2> Selected orders</H2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">State</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody ng-repeat="order in orders track by $index">
    <tr>
        <td>{{order.state}}</td>
        <td>{{order.dateOfOrder}}</td>
        <td>{{order.totalPrice}}</td>
        <td>
            <a class="btn btn-primary" target="_blank"  >Remove</a>
        </td>
    </tr>
    </tbody>
</table>