<H2> Service info</H2>
<h3>ID# {{service.id}}</h3>

<table>

    <tr>
        <td>
            <p>Id: </p>
        </td>
        <td>
            <p>{{service.id}}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>Name: </p>
        </td>
        <td>
            <p>{{service.name}}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>Description: </p>
        </td>
        <td>
            <p>{{service.description}}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>Price: </p>
        </td>
        <td>
            <p>{{service.price}}</p>
        </td>
    </tr>
</table>

<div>
    <button ng-click="removeService(service)" type="submit" class="btn btn-primary">Delete</button>
</div>