<form name="form"  novalidate class="form-horizontal">
    <div class="form-group" >
        <label for="manufacturer" class="col-sm-2 control-label">Manufacturer</label>
        <div class="col-sm-10">
            <input placeholder="" id="manufacturer" type="text"  name="manufacturer" class="form-control" ng-model="tire.manufacturer" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <input placeholder="" id="type" type="text" name="type" class="form-control" ng-model="tire.type" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="size" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
            <input placeholder="" id="size" type="number" name="size" class="form-control" ng-model="tire.size" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="season" class="col-sm-2 control-label">Season</label>
        <div class="col-sm-10">
            <input placeholder="" id="season" type="text" name="season" class="form-control" ng-model="tire.season" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            <input placeholder="" id="price" type="number" name="price" class="form-control" ng-model="tire.price" required/>
        </div>
    </div>


    <!-- show disabled button if form is not valid -->
    <button  class="btn btn-primary" type="submit" ng-click="create(tire)">Create tire</button>
</form>