<H2> User info</H2>
<h3>ID# {{user.id}}</h3>

<table class="table">
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Login</th>
		<th scope="col">Is Admin</th>
		<th scope="col">Address</th>
		<th scope="col">Telephone</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{user.name}}</td>
		<td>{{user.login}}</td>
		<td>{{user.isAdmin}}</td>
		<td>{{user.userAddress}}</td>
		<td>{{user.telephone}}</td>
	</tr>
	</tbody>
</table>

<div>
	<button ng-click="deleteUser(user)" type="submit" class="btn btn-primary">Delete</button>
</div>

<H3>Orders</H3>

<table class="table">
	<thead>
	<tr>
		<th scope="col">State</th>
		<th scope="col">Date</th>
		<th scope="col">Price</th>
		<th scope="col">Cancel</th>
		<th scope="col">Detail</th>
	</tr>
	</thead>
	<tbody ng-repeat="order in orders track by $index">
	<tr>
		<td>{{order.state}}</td>
		<td>{{order.dateOfOrder}}</td>
		<td>{{order.totalPrice}}</td>
		<td>
			<button ng-click="deleteOrder(order)" type="submit" class="btn btn-primary">Cancel</button>
		</td>
		<td>
			<a class="btn btn-primary" href="#!/order/{{order.id}}">Detail</a>

		</td>
	</tr>
	</tbody>
</table>
